/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Quattrocento', serif;

}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
	color:#777;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}




/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color:rgb(50,50,50);
    color:rgb(150,150,150);
    font-family: 'Quattrocento', serif;
    font-size:16px;
    line-height:1.5;   
}

input,
label,
textarea {
    color:rgb(150,150,150);
    font-family: 'Quattrocento', serif;
    font-size:16px;
}


/* Headings */
h1,h2,h3,h4,h5,h6 {
	line-height:1;
}

a {
    text-decoration:none;
    color:rgb(255,150,100);
}

a:hover {
    color:rgb(100,150,200);
}



/* =Template
-------------------------------------------------------------- */
#wrapper {
    min-width:1024px;
    margin:0 auto;
}

#main {
    background-color:#fff;
}

.container {
    width:auto;
    margin:0 auto;
    padding:27px 0;
}
header {
	background-image: url('../images/a.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
}


h1 {
    font-weight:700;
    margin-bottom:12px;
}

p:not(.banner-title):not(.banner-sub){
    margin-bottom:18px;
    line-height:180%;
    color:black;
}


/* =Header
-------------------------------------------------------------- */
header {
    background-color:#fff;
}


/* =Footer
-------------------------------------------------------------- */
footer {

}


/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.banner {
	height: 578px;
	width:100%;
	overflow: hidden;
	margin: 0 auto !important;
	/*background: rgba(0, 0, 0, 0.5); */
}
.banner .banner-label {
	width: 80%;
	margin: 150px auto 0 auto;
	border: 2px solid rgb(200, 200, 200);
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	padding: 50px 10px;
	}
.banner .banner-label p.banner-title {
	font-weight: bold;
	}
.banner .banner-label a {text-decoration: none; color: inherit;}
.banner .banner-sub {
	font-size: 30px;
	line-height: 40px;
	font-weight: normal;
	}



section .section-wrapper {
	min-height: 400px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px;
	overflow: auto;
	}
section.services {
	background-color: #00bdbd;
	background-color: #262626;
	color: white;
	}
section.contact {
	background-color: white;
	}
section.portfolio {
	background-color: rgba(50, 50, 50, 1);
	color: white;
}


.heading {
	text-align: center;
	padding-bottom: 50px;
}
.heading h2 {
	font-size: 36px;
	line-height: 38px;
	padding-bottom: 0px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0px;
	color: #ff675f;
	}
section.services h2, 
section.portfolio h2 {color: white;}



.footer {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
}
.footer .container {
	display: table;
	margin: 0 auto;
	}
.footer .container > div {
	float: left;
	margin: 0 20px 0 20px;
	}
.footer ul li {list-style: none;}
.footer .footer-bottom {
	float: none;
	clear: both;
}
.footer .container{
	color: rgb(200, 200, 200);
	}
.copy {
	margin-top: 50px;
	}
.footer .container a {color: inherit;}


.portfolio-body .box{
	 height:200px;
	 width:300px;
	 border:0px solid grey;
	 margin:0;
	 display:inline-block;
	 float: left;
	 background-color: black;
	 position: relative;
	 overflow: hidden;
}
.portfolio-body .box:nth-child(1) {background-color: rgb(200, 200, 200);}
.portfolio-body .box:nth-child(2) {background-color: rgb(80, 80, 80);}
.portfolio-body .box:nth-child(3) {background-color: rgb(180, 80, 255);}
.portfolio-body .box:nth-child(4) {background-color: rgb(200, 200, 0);}
.portfolio-body .box:nth-child(5) {background-color: rgb(255, 180, 100);}
.portfolio-body .box:nth-child(6) {background-color: rgb(180, 80, 255);}
.portfolio-body .box:nth-child(7) {background-color: rgb(180, 80, 255);}
.portfolio-body .box > img {	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.3s ease;
}

.box .box-label {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0;
	text-align: center;
	display: none;
	transition: opacity 0.3s ease;
	}
.box .box-label h3 {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
	}
.box:hover .box-label {
	display: block;
	opacity: 0.8;
	}
.box:hover img {
	transform: scale(1.1);
	}
.box .box-label div {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	width: 100%;
	text-align: center;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: all 0.3s ease;
	}
.box:hover .box-label div {
	margin-top: 0 !important;
	}
.services-body a {color: inherit;}


.services-part{
	 width:280px;
	 margin-left: 10px;
	 margin-right: 10px;
	 display:inline-block;
	 text-align: center;
	 font-size: 13px;
	 line-height: 20px;
	 color:#777;
 }
  .services-part h3 {
	/*margin-bottom: 30px;
	font-weight: bold;
	font-size: 20px;*/
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 22px;
}

 .circle {
    /*border: 2px solid #a1a1a1;*/
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 40px auto 40px auto;
    overflow: hidden;
    background-color:#c3c8d9;
    }
 .circle img {width: 100%;height: 100%;}
    
.right{
	float:right;
}

.left{
	float:right;
} 

 section.about {
	background-color: white;
	}
.about-body {
	line-height: 20px;
	}
.about-summaryx {
	background-color: #f3f3f3;
	border-bottom: 5px solid #eeeeee;
	padding: 20px 20px 20px 30px;
}
.about-body h3 {
	text-align: center;
	font-size: 22px;
	padding: 40px;
	color: #ff675f;
	}
.about-people {
	border-left: 1px solid rgb(200, 200, 200);
	margin-left: 180px;
	clear: both;
	}

.person-picture {
	width: 150px;
	border-radius: 100px;
	float: left;
	overflow: hidden;
	margin-left: -240px;
 }
.person-block {
	border-bottom: 5px solid #eeeeee;
	margin-left: 30px;
	}
.person-block h4 {
	font-size: 22px;
	color: rgb(70, 70, 70);
	}
.person-block .person-title {
	font-size: 16px;
	color: rgb(50,50,50);
	}
.person-block .person-summary {
	font-size: 14px;
	line-height: 20px;
	color: rgb(100,100,100);
	}

.careers h2 {margin-bottom: 20px;}
.careers h4 {margin-top: 20px; margin-bottom: 10px;}
form {
	border: 1px solid gray;
	background-color: white;
	margin: 10px 0  0 0;
	border-radius: 4px;
	padding: 0 20px 10px;
	}
form p {
	margin-bottom: 10px;
	}
form h4 {
	margin-left: 150px;
	font-size: 22px;
	font-weight: normal;
	color: rgb(0, 130, 200);
	}


form p label {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
	}
form input {
	width: 400px;
	line-height: 18px;
	font-size: 15px;
	padding: 5px;
	}
form button {
	padding: 5px 10px;
	width: 100px;
	height: 30px;
	line-height: 28px;
	margin-top: 20px;
	background-color: rgb(0, 130, 200);
	color: white;
	padding: 0 0 0 10px;
	text-transform: uppercase;
	border: 2px outset rgb(0, 120, 180);
	
	}
.social-contacts {
	clear: both;
	padding: 20px 0 0 0;
	text-align: center;
	}
.contact-icon {
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	margin: 0 10px 0 10px;
	}
.contact-icon img {	
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	}

div.map_background {
	margin-top:-120px;
	margin-left: 200px;
	position:relative;
	}
.contact-phone {
	width: 200px;
	height: 100px;
	__border: 1px solid red;
	float: left;
	}
.contact-phone h3 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
	}
